* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  color: white;
  border-bottom: 1px solid black;
  background: black;
}

.nav-link {
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: rgb(71, 190, 250);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  align-items: center;
  color: white;
  font-weight: 500;
  background-color: black;
}

.card {
  box-shadow: 0px 0px 5px 0px rgb(123, 115, 115);
  padding: 20px;
  margin: 20px 0px;
  background-color: white;
}
