.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}



.post-header h2 {
  margin-bottom: 10px;
}

.meta {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

.featured-media video {
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.profile {
 display: flex;
 flex-direction: column;
 gap:10px;
 
}