.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-evenly;
  background: black;
  color: white;
  border-bottom: 2px solid gray;

  h1 {
    color: red;
  }

  .navs-btms {
    display: flex;
    gap: 16px;

    .nav-btm {
      display: flex;
      flex-direction: column;

      .highlight {
        color: white;
      }
    }
    .nav-underline {
      border: 3px solid rgb(225, 6, 6);
    }

    a {
      text-decoration: none;
      color: gray;
      &:hover {
        color: red;
      }
    }
  }

  .search {
    display: flex;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 15px;
    width: 500px;

    input {
      border: none;
      width: 100%;
      background: none;
      color: gray;
      outline: none;
    }
  }

  .notify-profile {
    display: flex;
    gap: 24px;
    color: white;
  }

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px 0;
    .search {
      width: 90%;
      padding: 16px 16px;
    }
    .notify-profile {
      display: none;
    }
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  width: 250px;

  background: #000;

  .movie-poster {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 6px;

    .play-btm {
      position: absolute;
      opacity: 0;
      transition: 0.3s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      transition: 0.3s;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .movie-rating {
      position: absolute;
      top: 0;
      right: 10px;
      background: rgb(210, 210, 76);
      width: 50px;
      text-align: center;
      height: 1.5rem;
      padding: 2px;
      border-radius: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .movie-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: white;
    }
  }
  &:hover {
    h4 {
      color: rgb(130, 11, 11);
    }
    .play-btm {
      background: rgb(255, 183, 0);
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  @media (max-width: 1200px) {
    width: 190px;
  }
}

.movies-container-grid {
  margin: 20px auto;
  display: grid;
  max-width: 1200px;
  padding: 0 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }
}

.movie-container-header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 1200px;

  .movie-explore {
    width: 40%;
  }
  .movie-container-btms {
    display: flex;
    gap: 16px;
    height: 40px;
    align-self: flex-end;

    button {
      border-radius: 16px;
      background: none;
      padding: 4px 16px;

      &:hover {
        color: yellow;
        border: 1px solid yellow;
      }
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
