.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-evenly;
  background: black;
  color: white;
  border-bottom: 2px solid gray;
  h1 {
    color: red;
  }
  .navs-btms {
    display: flex;
    gap: 16px;

    .nav-btm {
      display: flex;
      flex-direction: column;
    }
    .nav-underline {
      border: 3px solid rgb(225, 6, 6);
    }
    .highlight {
      color: white;
    }
    a {
      text-decoration: none;
      color: gray;
      &:hover {
        color: red;
      }
    }
  }

  .search {
    display: flex;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 15px;
    width: 500px;

    input {
      border: none;
      width: 100%;
      background: none;
      color: gray;
      outline: none;
    }
  }

  .notify-profile {
    display: flex;
    gap: 24px;
    color: white;
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  width: 250px;

  background: #000;

  .movie-poster {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;

    .play-btm {
      position: absolute;
      opacity: 0;
      transition: 0.3s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .movie-rating {
      position: absolute;
      top: 0;
      right: 10px;
      background: rgb(210, 210, 76);
      width: 50px;
      text-align: center;
      height: 1.5rem;
      padding: 2px;
      border-radius: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .movie-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: white;
    }
  }
  &:hover {
    h4 {
      color: rgb(130, 11, 11);
    }
    .play-btm {
      background: rgb(255, 183, 0);
      opacity: 1;
    }
  }
}

.movies-container-grid {
  margin: 10px auto;
  display: grid;
  width: 1110px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}
